.banner-container{
    width: 100%;
    height: calc(100vh - 120px - 56px);
    display: flex;
    flex-direction: column;
    background: url(../images/bg.jpg) no-repeat center 80%/100% auto;
    align-items: center;
    justify-content:center;
}
.banner-title{
    text-align: center;
    font-size: 44px;
    color:white;
    box-sizing: border-box;
    padding: 25px 0;
}

/***************************************************/
.options-container{
    width: 100%;
    height: 120px;
    background: #063960;
    box-sizing: border-box;
    padding: 15px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.option{
    width: 30%;
    height: 100%;
    display: flex;
    color:white;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.option-img{
    height: 60%;
}
.line{
    height: 50%;
    border-left:0.5px solid rgba(255,255,255,0.6);
}
/**************************************/
.introduction-container{
    width: 100%;
    height: auto;
    padding: 5% 15%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.introduction-title{
    font-size: 44px;
    color:#063960;
}
.introduction-item{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}
.pic-holder{}
.description-holder{
    width: 50%;
    height: 100%;
}
.description-title{
    font-size:24px;
    margin:8px 0;
    color:#063960;
}
.title-left{
    border-left:5px solid #f9c032;
    padding-left: 10px;
    text-align: left;
}
.title-right{
    border-right:5px solid #f9c032;
    padding-right: 10px;
    text-align: right;
}
/*************************/
.start-btn{
    background: #028ac6;
    width: 130px;
    height:45px;
    color:white;
    border:none;
    border-radius: 5px;
}
.start-btn a{
    text-decoration: none;
    color:inherit;
}